@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-weight:400;
  
 
  
}

.left-links, .right-links{
  display: flex;
  gap: 15px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  
}
a{
  text-decoration: none;
  color: black;
}
.content{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
  
}


img {
  width: 600px;
}
.buttons{
  display: flex;
  gap: 5px;
  margin-top: 10px;
}


button {
  font-family: Roboto, sans-serif;
  border: none;
  font-weight: 500;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
  margin: auto;
  align-self: center;
}

input {
  display: flex;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin: auto;
}

.footer{
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-top: auto;
}

